.confirmation {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem 0rem 2rem 0rem;
}

.container {
    border: 1px solid rgb(219, 219, 219);
    padding: 4rem 1rem 4rem 1rem;
    height: fit-content;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.confirmation h1, p {
    font-family: var(--font-family);
}

.confirmation p {
  font-size: medium;
  font-weight: 700;
}