.formBox {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 4rem;
    padding-top: 2rem;
}

form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 300px;
    font-family: var(--font-family);
}

label {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 1.2rem;
}

input {
    border-radius: 4px;
    border-color: rgb(227, 227, 227);
    border: rgb(227, 227, 227) 0.5px solid;
    padding: 0.5rem;
}

select {
    border-radius: 4px;
    border-color: rgb(227, 227, 227);
    border: rgb(227, 227, 227) 0.5px solid;
    padding: 0.5rem;
}

.submit {
    background-color: black;
    color: var(--primary-colors);
    cursor: pointer;
}

.submit:hover {
    background-color: var(--primary-colors);
    color: black;
    cursor: pointer;
}