

.cardContainer {
    width: 260.67px;
    height: 439px;
    background-color: var(--secondary-color-3);
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    box-shadow: 5px 5px 5px -3px rgba(0, 0, 0, 0.12);
    overflow: hidden;
}

.img {
    width: 280px;
    height: 185px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

.cardTitle {
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 24px;
    line-height: 90%;
    color: #000;
}

.price {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 16px;
    color: var(--secondary-color);
}

.cardTitleAndPrice {
    display: flex;
    padding: 1rem;
    justify-content: space-between;
}

.description {
    display: flex;
    padding-left: 1rem;
    padding-right: 1rem;
}

.orderAndBike {
    padding: 1rem;
    padding-top: 3rem;
    display: flex;
    justify-content: space-between;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 0.9rem;
    color: var(--secondary-color-4);
}

