.footer {
    height: 417px;
    background: var(--secondary-color-3);
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 5rem;
    padding-top: 5rem;
}


.imgDiv {
    border: 1px solid #000;
    border-radius: 16px;
    width: 162px;
    height: 279px;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img {
    height: 300px;
    position: absolute;
    left: -200px;
}

.footer h3 {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 20px;
    color: var(--primary-color-2);
}

.footer li, a {
    list-style: none;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 20px;
    line-height: 130%;
    color: var(--secondary-color-4);

}

.footer li, a:hover {
    color: var(--primary-colors) ;

}

@media (max-width:860px) {
    .footer {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        height: fit-content;
        padding-top: 2rem;
        padding-bottom: 2rem;
        justify-content: center;
        align-items: center;
    }
}