.header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7.75rem;
}

.logo {
    width: 10rem;
}

.container{
    width: 100%;
    width: 53rem;
    max-width: 53rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12rem;
}


/* Tablets */
@media (max-width: 992px) {
.container{
    width: 100%;
    width: 53rem;
    max-width: 53rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;

}
}

/* Celulares */
@media (max-width: 620px) {
   
}