.container{
    width: 100%;
    width: 53rem;
    max-width: 53rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 589px;
    flex-direction: column;
    gap: 3rem;
}

.testimonials {
    display: flex;
    height: 589px;
    background: var(--primary-color-2);
    justify-content: center;
    align-items: center;

}

.title {
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 36px;
    color: var(--primary-colors);
}

.CardsContainer {
    display: flex;
    gap: 2rem;
}