.container{
    width: 100%;
    width: 53rem;
    max-width: 53rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 589px;
    flex-direction: column;
    gap: 3rem;
}

.testimonials {
    display: flex;
    height: 589px;
    background: var(--primary-color-2);
    justify-content: center;
    align-items: center;

}

.title {
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 36px;
    color: var(--primary-colors);
}

.CardsContainer {
    display: flex;
    gap: 2rem;
}

@media (max-width: 992px) {
    .container{
        display: flex;
        flex-direction: column;
        height: auto;
    }
    .CardsContainer {
    display: flex;
    gap: 2rem;
    flex-direction: column;
    }
    .testimonials {
        height: fit-content;
        padding-bottom: 2rem;
        padding-top: 2rem;
    }
}

/* Celulares */
@media (max-width: 620px) {
   
}